In [28]:
import manipulando as man
import os
import arquivoTxt as arq

caminho = os.getcwd()
dadosVazao = man.separaDadosConsisBruto(arq.trabaLinhas(caminho), tipo=2,lev=1)
falhas, ganttBool, ganttSoma = man.falhas(dadosVazao)
ganttBool.drop_duplicates(keep='last', inplace=True)
aux = {}
listaText = arq.listaTxt(caminho)
for i in listaText:
    aux[i] = man.periodoSemFalhas(ganttBool, nPosto = i)
        
dfgantt = man.dataFrameGantt(aux)

Arquivo:  39700000
Arquivo:  39620000
Arquivo:  49330000
Arquivo:  39850000
Arquivo:  39760000
Arquivo:  49370000
Arquivo:  49490000
Arquivo:  39870000
Arquivo:  39740000
Arquivo:  39980000
Arquivo:  49660000
Arquivo:  39890000

In [30]:
dfgantt.head()

       Task                Start               Finish   Description IndexCol
0  39890000  1989-07-12 00:00:00  1990-10-24 00:00:00  39890000 - 0        0
1  39890000  1992-08-18 00:00:00  1994-12-16 00:00:00  39890000 - 1        1
2  39890000  2000-06-13 00:00:00  2002-12-20 00:00:00  39890000 - 2        0
3  39890000  2005-05-29 00:00:00  2007-12-31 00:00:00  39890000 - 3        1
4  39980000  1978-08-15 00:00:00  1989-12-31 00:00:00  39980000 - 0        0

In [25]:
periodoSemFalhas

NameError: name 'periodoSemFalhas' is not defined

In [26]:
import plotly.tools as tls
tls.set_credentials_file(username='clebsonpy', api_key='Dtk2N7biK0BjJZHEJ5uf')
tls.set_config_file(world_readable=True, sharing='public')

In [18]:
import plotly.figure_factory as FF
#colors = {0: '#000000', 1: '#858585'}
fig = FF.create_gantt(dfgantt, index_col='IndexCol', colors = ['#000000', '#858585'], group_tasks=True, bar_width=0.475)

In [6]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gantt_example.csv')

In [8]:
df

    Task                Start               Finish  Complete Resource
0  Job A           2009-01-01           2009-02-26        23        A
1  Job B           2009-03-05           2009-04-15        55        A
2  Job C  2009-02-20 12:40:00  2009-05-30 15:12:44        97        C
3  Job D           2009-03-10           2009-04-30        11        B
4  Job E           2009-02-25           2009-06-30        14        A

In [32]:
import plotly.offline as off
off.plot(fig, filename='ganttChart')

/home/clebson/miniconda3/lib/python3.5/site-packages/plotly/offline/offline.py:440: UserWarning:

Your filename `ganttChart` didn't end with .html. Adding .html to the end of your file.

'file:///home/clebson/ICD-Clebson/ganttChart.html'

In [8]:
fg.head()

             1980      1981      1982      1983      1984      1985      1986  \
Mes Dia
1   1    3110.208  5559.988  6954.737  2130.364  6343.621  2012.233  1949.013
    2    3578.398  5518.021  7013.894  2054.856  6354.882  2168.554  1996.347
    3    3611.942  5507.555  6490.822  2163.080  6276.272  2455.477  2709.122
    4    3688.010  5633.827  6422.666  2130.364  6400.030  2443.939  3157.066
    5    3388.667  5581.033  6778.824  2119.506  6276.272  2352.474  2536.889

             1987      1988      1989    ...         2007      2008      2009  \
Mes Dia                                  ...
1   1    2060.211  1724.629  1369.528    ...     1885.574  1413.264  1328.211
    2    2141.246  1592.777  1378.542    ...     2330.227  1471.401  1299.380
    3    2346.807  1729.598  1759.541    ...     2550.785  1354.142  1274.906
    4    2179.518  1949.013  1840.460    ...     2478.073  1366.711  1303.481
    5    2207.032  2207.032  1907.347    ...     2598.863  1335.392  1525.070

             2010      2011      2012      2013      2014      2015      2016
Mes Dia
1   1    1353.161  1470.308  1522.862  1641.995  1047.821  1072.015       NaN
    2    1468.137  1437.904  1596.542  2268.559  1040.429  1087.033  865.6616
    3    1472.480  1603.322  1966.965  2511.509  1042.275  1087.033  858.2587
    4    1781.955  1957.013  2357.282  2379.032  1038.585  1079.511  855.3092
    5    1964.475  1902.703  2354.570  2330.227  1087.033  1083.269  862.6954

[5 rows x 37 columns]

In [9]:
dadosVazao['49330000'].iplot(kind='scatter', 
                             filename='Hidrogrma', 
                             yTitle='Vazão',
                             xTitle='Data')

In [10]:
import plotly.figure_factory as ff

In [13]:
dadosVazao['44300000'].head()

Data
1979-01-01   NaN
1979-01-02   NaN
1979-01-03   NaN
1979-01-04   NaN
1979-01-05   NaN
Name: 44300000, dtype: float64