In [14]:
import manipulando as man
import os
import arquivoTxt as arq

caminho = os.getcwd()
dadosVazao = man.separaDadosConsisBruto(arq.trabaLinhas(caminho), tipo=2,lev=1)
falhas, gantt = man.falhas(dadosVazao)
periodoSemFalhas = man.periodoSemFalhas(gantt, nPosto = '49330000')

Arquivo:  44300000
Arquivo:  49330000
Arquivo:  41230000

In [20]:
gantt.head()

            41230000  44300000  49330000
Data
1931-01-31      31.0      31.0       0.0
1931-02-28      28.0      28.0       0.0
1931-03-31      31.0      31.0       0.0
1931-04-30      30.0      30.0       0.0
1931-05-31      31.0      31.0       0.0

In [18]:
periodoSemFalhas

         Fim     Inicio
0 1973-12-31 1931-01-31
1 1978-05-31 1977-03-31
2 2007-12-31 1978-09-30